#picsearchform
  %h2 add pictures to camoflauge the target picture
  = form_tag("/pictures", :method => "get") do
    = label_tag(:hashtag_input, "search instagram by hashtag, e.g. secretagent")
    = text_field_tag(:hashtag)
    = submit_tag("search")
