=form_for(@picture, :url => pictures_path) do |f|
  -@instagram.each do |ig|
    =f.radio_button :url, "#{ig.images.thumbnail.url}"
    = image_tag ig.images.thumbnail.url
  =f.label :answer
  =f.check_box :answer
  =f.label :mission
  =f.select :mission_id, Mission.all.collect { |m| [m.name, m.id] }
  = f.submit "add to mission"
=link_to "Search Again", new_picture_path
