/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

/*****
header
******/
.name h1 a {
  font-family: 'droid serif', sans-serif;
  font-style: italic;
  color: #FFD700;
  text-shadow: 2px 2px #ff0000;
}

ul.left li a {
  font-family: 'droid serif', sans-serif;
}
/**********************
*********************/

.modal, #signin, #signup, #createmission, #codename, #missiontarget {
  background: #212121;
  padding: 10px;
  text-align: center;
}

#missionsindex {
  background: #212121;
  max-width: 25%;
  padding: 10px;
  text-align: center;
  display: block;
}

#missionsindex li {
  padding: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  list-style: none;
}

#missionsindex li:hover {
  background: #3b2f2f;
}

#missionsindex li a {
  text-decoration: none;
}

/*
.choice:hover {
  border: 2.5px solid red;
}
*/

.choice {
  background: #212121;
}

#picsearchform {
  max-width: 19%;
  margin: 0 auto;
}

body {
  background-image: url('navy_blue.png');
}

h1, h2, h3, p, label {
  color: white;
  font-family: 'droid serif', sans-serif;
}

a:visited{
  color:white;
}

footer {
  padding-top: 10px;
  position:fixed;
  height:40px;
  bottom:0px;
  left:0px;
  right:0px;
  margin-bottom:0px;
  background: #212121;
}

footer p, a {
  display: inline;
}

#about {
  background: #212121;
}

#userscore h3 {
  display: inline;
}

/****
SHOW
****/

ul.inline-list#missioncontrol {
  background: #212121;
  margin: 0 auto;
  max-width: 80%;
  margin-bottom: 20px;
  list-style: none;
}

#missioncontrol p {
  font-family: 'droid serif', sans-serif;
  display: inline;
  margin-right: 5px;
}

#clue {
  color: #FFD700;
  text-shadow: 1px 1px #ff0000;
  font-style: italic;
}

.red {
  color: red;
}

/**
**/

.alert, .notice {
  color: yellow;
}

#answer {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  margin-top: -75px;
  border-radius: 100%;
}

#edit {
  background: #212121;
}

#editoptions ul {
  list-style: none;
}


#picdiv, #pix {
  max-width: 80%;
  margin: 0 auto;
}

#pix {
  text-align: center;
  color: #FFD700;
  font-family: 'droid serif', sans-serif;
  margin-bottom: 50px;
}

#editpictures {
  margin-top: 20px;
}

.alert-box {
  text-align: center;
}

.ep {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 15px;
}

.ep h3 {
  color: red;
}
