/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

/*****
header
******/
.name h1 a {
  font-style: italic;
  color: #FFD700;
  text-shadow: 2px 2px #ff0000;
}

ul.left li a {
  font-family: 'droid serif', sans-serif;
}
/**********************
*********************/

.modal, #signin, #signup, #createmission, #codename, #missiontarget {
  background: #212121;
  padding: 10px;
  text-align: center;
}

body {
  background-image: url('navy_blue.png');
}

a:visited{
  color:white;
}

footer {
  padding-top: 10px;
  position:fixed;
  height:40px;
  bottom:0px;
  left:0px;
  right:0px;
  margin-bottom:0px;
  background: #212121;
}

footer p, a {
  display: inline;
}

/****
SHOW
****/

#missioncontrol {
  background: #212121;
  margin-bottom: 20px;
  list-style: none;
  text-align: center;
}

#missioncontrol p {
  font-family: 'droid serif', sans-serif;
  display: inline;
  font-size: 1.5em;
}

#clue {
  color: #FFD700;
  text-shadow: 1px 1px #ff0000;
  font-style: italic;
}

.red {
  color: red;
  font-style: italic;
}

.th {
  margin-bottom: 5px;
  margin-right: 5px;
  background: #212121;
}

/**
**/

.alert, .notice {
  color: yellow;
}

.alert-box {
  text-align: center;
}

#answer {
  max-width: 480px;
  max-height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15em;
  margin-top: -13em;
}

/****
edit
****/
#edit {
  background: #212121;
  text-align: center;
}

#edit .button {
  margin-top: 20%;
}

#edit .row.collapse {
  margin-top: 12%;
}

#edit .postfix {
  margin-top: 5%;
}
/****
****/


#picdiv, #editpictures {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  /****
  change to class
  ****/
}
#editpictures {
  margin-top: 20px;
}

#pix {
  color: #FFD700;
  font-family: 'droid serif', sans-serif;
  margin-bottom: 50px;
}

#pix h2 {
  color: white;
  text-align: center;
}

.ep {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  background-size: contain;
}

.ep h3 {
  color: red;
}

#victory {
  font-style: italic;
  color: #FFD700;
  text-shadow: 2px 2px #ff0000;
}
