.modal
  = form_tag(mission_path(@mission), method: "put", remote:true) do
    = label_tag(:name, "mission code name")
    = text_field_tag(:name, @mission.name)
    = submit_tag("update mission name", class: "button expand")
