$('#pix').append('<h2>Click on picture to set the mission target</h2><br>');
// var url = <%= raw @urlarray.to_json %>;
// for(i=0; i < url.length; i++){
//   $('#pix').append("<a href='#'><img src='"+url[i]+"'></a>");
// }
// $('#pix').html('<%= j render 'missions/answer' %>');
$("#pix").append( "<%=j render :partial => 'answer'%>" );
